<html>

<body>
    <h2>
        <p>Calculate the distance between two coordinate on EARTH</p>
    </h2>
    <h5>
        <p>Mars is comming soon!!!</p>
    </h5>
    <form action="/" method="post">
        <label for="firstname">GPS coordinate for point A: </label>
        <input type="text" name="coordA" required>
        <br>
        <label for="lastname">GPS coordinate for point B: </label>
        <input type="text" name="coordB" required>

        <br>
        <input type="submit" value="calculate!">
    </form>
    <p>
    <h3>{{ answer }} </h3>
    </p>
</body>

</html>